In [1]:
import os
import sqlite3
import pandas as pd

processed = ["california_schools","financial","superhero"]
def export_sqlite_tables_to_csv_in_place(root_dir):
    for dirpath, _, filenames in os.walk(root_dir):
        for file in filenames:
            if file.endswith((".sqlite", ".db")):
                if file not in processed:
                    db_path = os.path.join(dirpath, file)
                    export_db_tables_to_csv(db_path)

def export_db_tables_to_csv(db_path):
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()

    db_dir = os.path.dirname(db_path)
    db_name = os.path.basename(db_path)
    print(f"\nProcessing {db_name} in {db_dir}")

    for (table_name,) in tables:
        df = pd.read_sql_query(f"SELECT * FROM `{table_name}`;", conn)
        csv_filename = f"{table_name}.csv"
        csv_path = os.path.join(db_dir, csv_filename)
        df.to_csv(csv_path, index=False)
        print(f"  -> Exported {table_name} to {csv_filename}")

    conn.close()

# Example usage
export_sqlite_tables_to_csv_in_place("/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases")

Processing donor.sqlite in /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/donor
  -> Exported sqlite_sequence to sqlite_sequence.csv
  -> Exported essays to essays.csv
  -> Exported projects to projects.csv
  -> Exported donations to donations.csv
  -> Exported resources to resources.csv

Processing law_episode.sqlite in /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/law_episode
  -> Exported Episode to Episode.csv
  -> Exported Keyword to Keyword.csv
  -> Exported Person to Person.csv
  -> Exported Award to Award.csv
  -> Exported Credit to Credit.csv
  -> Exported Vote to Vote.csv

Processing student_club.sqlite in /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/student_club
  -> Exported event to event.csv
  -> Exported major to major.csv
  -> Exported zip_code to zip_code.csv
  -> Exported attendance to attendance.csv
  -> Exported budget to budget.csv
  -> Exported expense to expense.csv
  -> Exported income to income.csv
  -> Exported member to member.csv

Processing books.sqlite in /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/books
  -> Exported address_status to address_status.csv
  -> Exported author to author.csv
  -> Exported book_language to book_language.csv
  -> Exported country to country.csv
  -> Exported address to address.csv
  -> Exported customer to customer.csv
  -> Exported customer_address to customer_address.csv
  -> Exported order_status to order_status.csv
  -> Exported publisher to publisher.csv
  -> Exported book to book.csv
  -> Exported book_author to book_author.csv
  -> Exported shipping_method to shipping_method.csv
  -> Exported cust_order to cust_order.csv
  -> Exported sqlite_sequence to sqlite_sequence.csv
  -> Exported order_history to order_history.csv
  -> Exported order_line to order_line.csv

Processing computer_student.sqlite in /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/computer_student
  -> Exported course to course.csv
  -> Exported person to person.csv
  -> Exported advisedBy to advisedBy.csv
  -> Exported taughtBy to taughtBy.csv

Processing mental_health_survey.sqlite in /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/mental_health_survey
  -> Exported Question to Question.csv
  -> Exported Survey to Survey.csv
  -> Exported Answer to Answer.csv

Processing airline.sqlite in /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/airline
  -> Exported Air Carriers to Air Carriers.csv
  -> Exported Airports to Airports.csv
  -> Exported Airlines to Airlines.csv

Processing authors.sqlite in /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/authors
  -> Exported Author to Author.csv
  -> Exported Conference to Conference.csv
  -> Exported Journal to Journal.csv
  -> Exported Paper to Paper.csv
  -> Exported PaperAuthor to PaperAuthor.csv

Processing financial.sqlite in /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/financial
  -> Exported account to account.csv
  -> Exported card to card.csv
  -> Exported client to client.csv
  -> Exported disp to disp.csv
  -> Exported district to district.csv
  -> Exported loan to loan.csv
  -> Exported order to order.csv
  -> Exported trans to trans.csv

Processing human_resources.sqlite in /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/human_resources
  -> Exported location to location.csv
  -> Exported position to position.csv
  -> Exported employee to employee.csv

Processing california_schools.sqlite in /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/california_schools
  -> Exported frpm to frpm.csv
  -> Exported satscores to satscores.csv
  -> Exported schools to schools.csv

Processing superhero.sqlite in /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/superhero
  -> Exported alignment to alignment.csv
  -> Exported attribute to attribute.csv
  -> Exported colour to colour.csv
  -> Exported gender to gender.csv
  -> Exported publisher to publisher.csv
  -> Exported race to race.csv
  -> Exported superhero to superhero.csv
  -> Exported hero_attribute to hero_attribute.csv
  -> Exported superpower to superpower.csv
  -> Exported hero_power to hero_power.csv

In [1]:
import pandas as pd
import os

def merge_two_csvs_with_different_keys(csv_file1, csv_file2, join_col1, join_col2, how='inner'):
    try:
        # Load both CSVs
        df1 = pd.read_csv(csv_file1)
        df2 = pd.read_csv(csv_file2)

        # Check join columns exist
        if join_col1 not in df1.columns:
            print(f"Join column '{join_col1}' not found in {csv_file1}")
            return
        if join_col2 not in df2.columns:
            print(f"Join column '{join_col2}' not found in {csv_file2}")
            return

        # Rename join_col2 in df2 to match join_col1 for merging
        df2_renamed = df2.rename(columns={join_col2: join_col1})

        # Merge on renamed column
        merged_df = pd.merge(df1, df2_renamed, on=join_col1, how=how)

        # Save result in same directory as first file
        output_dir = os.path.dirname(csv_file1)
        merged_filename = f"merged.csv"
        output_path = os.path.join(output_dir, merged_filename)

        merged_df.to_csv(output_path, index=False)
        print(f"Merged CSV saved to: {output_path}")

    except Exception as e:
        print(f"Error during merge: {e}")

In [7]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/books/book.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/books/book_author.csv",
    join_col1="book_id",  # from file1
    join_col2="book_id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/books/merged.csv

In [9]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/books/merged.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/books/book_language.csv",
    join_col1="language_id",  # from file1
    join_col2="language_id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/books/merged.csv

In [10]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/computer_student/person.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/computer_student/taughtBy.csv",
    join_col1="p_id",  # from file1
    join_col2="p_id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/computer_student/merged.csv

In [11]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/computer_student/merged.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/computer_student/course.csv",
    join_col1="course_id",  # from file1
    join_col2="course_id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/computer_student/merged.csv

In [12]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/human_resources/employee.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/human_resources/location.csv",
    join_col1="locationID",  # from file1
    join_col2="locationID",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/human_resources/merged.csv

In [13]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/human_resources/merged.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/human_resources/position.csv",
    join_col1="positionID",  # from file1
    join_col2="positionID",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/human_resources/merged.csv

In [ ]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/human_resources/merged.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/human_resources/position.csv",
    join_col1="positionID",  # from file1
    join_col2="positionID",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

In [ ]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/human_resources/merged.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/human_resources/position.csv",
    join_col1="positionID",  # from file1
    join_col2="positionID",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

In [ ]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/books/merged.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/books/author.csv",
    join_col1="author_id",  # from file1
    join_col2="author_id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

In [ ]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/authors/Author.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/authors/Journal.csv",
    join_col1="Id",  # from file1
    join_col2="Id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

In [2]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/law_episode/Award.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/law_episode/Credit.csv",
    join_col1="episode_id",  # from file1
    join_col2="episode_id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/law_episode/merged.csv

In [2]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/law_episode/merged.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/law_episode/Episode.csv",
    join_col1="episode_id",  # from file1
    join_col2="episode_id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/law_episode/merged.csv

In [4]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/mental_health_survey/Question.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/mental_health_survey/Answer.csv",
    join_col1="questionid",  # from file1
    join_col2="QuestionID",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/mental_health_survey/merged.csv

In [2]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/california_schools/frpm.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/california_schools/satscores.csv",
    join_col1="CDSCode",  # from file1
    join_col2="cds",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/california_schools/merged.csv

In [3]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/california_schools/merged.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/california_schools/schools.csv",
    join_col1="CDSCode",  # from file1
    join_col2="CDSCode",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/california_schools/merged.csv

/tmp/ipykernel_2273155/3370939895.py:8: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(csv_file2)

In [4]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/financial/account.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/financial/disp.csv",
    join_col1="account_id",  # from file1
    join_col2="account_id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/financial/merged.csv

In [5]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/financial/client.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/financial/merged.csv",
    join_col1="client_id",  # from file1
    join_col2="client_id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/financial/merged.csv

In [6]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/financial/card.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/financial/merged.csv",
    join_col1="disp_id",  # from file1
    join_col2="disp_id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/financial/merged.csv

In [7]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/financial/merged.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/financial/order.csv",
    join_col1="account_id",  # from file1
    join_col2="account_id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/financial/merged.csv

In [8]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/financial/merged.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/financial/trans.csv",
    join_col1="account_id",  # from file1
    join_col2="account_id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

/tmp/ipykernel_2273155/3370939895.py:8: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(csv_file2)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/financial/merged.csv

In [9]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/thrombosis_prediction/Examination.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/thrombosis_prediction/Laboratory.csv",
    join_col1="ID",  # from file1
    join_col2="ID",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/thrombosis_prediction/merged.csv

In [10]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/thrombosis_prediction/merged.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/thrombosis_prediction/Patient.csv",
    join_col1="ID",  # from file1
    join_col2="ID",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/thrombosis_prediction/merged.csv

In [11]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/debit_card_specializing/customers.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/debit_card_specializing/transactions_1k.csv",
    join_col1="CustomerID",  # from file1
    join_col2="CustomerID",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/debit_card_specializing/merged.csv

In [12]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/debit_card_specializing/merged.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/debit_card_specializing/gasstations.csv",
    join_col1="GasStationID",  # from file1
    join_col2="GasStationID",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/debit_card_specializing/merged.csv

In [13]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/debit_card_specializing/merged.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/debit_card_specializing/products.csv",
    join_col1="ProductID",  # from file1
    join_col2="ProductID",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/debit_card_specializing/merged.csv

In [14]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/superhero/superhero.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/superhero/alignment.csv",
    join_col1="alignment_id",  # from file1
    join_col2="id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/superhero/merged.csv

In [15]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/superhero/merged.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/superhero/race.csv",
    join_col1="race_id",  # from file1
    join_col2="id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/superhero/merged.csv

In [16]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/superhero/merged.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/superhero/publisher.csv",
    join_col1="publisher_id",  # from file1
    join_col2="id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/superhero/merged.csv

In [17]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/superhero/merged.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/superhero/gender.csv",
    join_col1="gender_id",  # from file1
    join_col2="id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/superhero/merged.csv

In [18]:
merge_two_csvs_with_different_keys(
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/superhero/merged.csv",
    "/home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/superhero/colour.csv",
    join_col1="hair_colour_id",  # from file1
    join_col2="id",      # from file2
    how="inner"           # or 'outer', 'left', 'right'
)

Merged CSV saved to: /home/mushtari/nl2db/nl2db-main/data-generation/data_minidev/MINIDEV/dev_databases/superhero/merged.csv

In [19]:
!pwd

/home/mushtari/nl2db/nl2db-main/data-generation

In [1]:
import os
import pandas as pd

def load_csv_files(folder_path, skip_folders=[]):
    """
    Recursively load all CSV files from the specified folder and its subfolders into Pandas DataFrames,
    while skipping a specified folder.

    Args:
        folder_path (str): Path to the folder containing CSV files.
        skip_folder (str, optional): Name of the folder to skip (relative to folder_path).

    Returns:
        dict: A dictionary where keys are CSV file paths (relative to folder_path)
              and values are the corresponding Pandas DataFrames.
    """
    dataframes = {}

    # Walk through all directories and files
    for root, dirs, files in os.walk(folder_path):
        # Skip the specified folder
        for skip_folder in skip_folders:
            if skip_folder and skip_folder in dirs:
                dirs.remove(skip_folder)  # This prevents os.walk() from descending into the folder

        for file_name in files:
            if file_name.endswith("merged.csv"):
                file_path = os.path.join(root, file_name)

                # Create a unique name for the DataFrame (relative path without extension)
                rel_path = os.path.relpath(file_path, folder_path)
                dataframe_name = os.path.splitext(rel_path)[0].replace(os.sep, "_")

                try:
                    # Read the CSV file into a Pandas DataFrame
                    df = pd.read_csv(file_path)

                    # Store DataFrame in the dictionary
                    dataframes[dataframe_name] = df

                    print(f"Loaded: {file_path} -> DataFrame: {dataframe_name}")
                except Exception as e:
                    print(f"Could not load: {file_path} -> DataFrame: {dataframe_name}. Error: {e}")

    return dataframes

# Specify the folder containing your CSV files
folder_path = "data_minidev/MINIDEV/dev_databases"
processed = ["california_schools","financial","superhero"]
# Load all CSV files into DataFrames
dataframes_dict = load_csv_files(folder_path,processed)

# Example: Access a specific DataFrame
for name, df in dataframes_dict.items():
    print(f"DataFrame Name: {name}")
    print(df.head(5))  # Display the first few rows

Loaded: data_minidev/MINIDEV/dev_databases/law_episode/merged.csv -> DataFrame: law_episode_merged
Loaded: data_minidev/MINIDEV/dev_databases/books/merged.csv -> DataFrame: books_merged
Loaded: data_minidev/MINIDEV/dev_databases/computer_student/merged.csv -> DataFrame: computer_student_merged
Loaded: data_minidev/MINIDEV/dev_databases/mental_health_survey/merged.csv -> DataFrame: mental_health_survey_merged
Loaded: data_minidev/MINIDEV/dev_databases/airline/merged.csv -> DataFrame: airline_merged
Loaded: data_minidev/MINIDEV/dev_databases/authors/merged.csv -> DataFrame: authors_merged
Loaded: data_minidev/MINIDEV/dev_databases/human_resources/merged.csv -> DataFrame: human_resources_merged
DataFrame Name: law_episode_merged
   award_id                  organization  year award_category  \
0       258  International Monitor Awards  1999        Monitor
1       258  International Monitor Awards  1999        Monitor
2       258  International Monitor Awards  1999        Monitor
3       258  International Monitor Awards  1999        Monitor
4       258  International Monitor Awards  1999        Monitor

                                               award       series_x  \
0  Film Originated Television Series - Best Achie...  Law and Order
1  Film Originated Television Series - Best Achie...  Law and Order
2  Film Originated Television Series - Best Achie...  Law and Order
3  Film Originated Television Series - Best Achie...  Law and Order
4  Film Originated Television Series - Best Achie...  Law and Order

  episode_id person_id_x role_x  result  ...       series_y season episode  \
0  tt0629149   nm0937725    NaN  Winner  ...  Law and Order      9       5
1  tt0629149   nm0937725    NaN  Winner  ...  Law and Order      9       5
2  tt0629149   nm0937725    NaN  Winner  ...  Law and Order      9       5
3  tt0629149   nm0937725    NaN  Winner  ...  Law and Order      9       5
4  tt0629149   nm0937725    NaN  Winner  ...  Law and Order      9       5

   number_in_series  title                                            summary  \
0               186  Agony  After a woman is brutally attacked, the police...
1               186  Agony  After a woman is brutally attacked, the police...
2               186  Agony  After a woman is brutally attacked, the police...
3               186  Agony  After a woman is brutally attacked, the police...
4               186  Agony  After a woman is brutally attacked, the police...

     air_date                                      episode_image rating votes
0  1998-11-04  https://m.media-amazon.com/images/M/MV5BMzQ2Zm...    8.2   187
1  1998-11-04  https://m.media-amazon.com/images/M/MV5BMzQ2Zm...    8.2   187
2  1998-11-04  https://m.media-amazon.com/images/M/MV5BMzQ2Zm...    8.2   187
3  1998-11-04  https://m.media-amazon.com/images/M/MV5BMzQ2Zm...    8.2   187
4  1998-11-04  https://m.media-amazon.com/images/M/MV5BMzQ2Zm...    8.2   187

[5 rows x 24 columns]
DataFrame Name: books_merged
   book_id                                              title       isbn13  \
0        1        The World's First Love: Mary  Mother of God   8987059752
1        2                                     The Illuminati  20049130001
2        3                                 The Servant Leader  23755004321
3        4  What Life Was Like in the Jewel in the Crown: ...  34406054602
4        5  Cliffs Notes on Aristophanes' Lysistrata  The ...  49086007763

   language_id  num_pages publication_date  publisher_id  author_id  \
0            2        276       1996-09-01          1010       2778
1            1        352       2004-10-04          1967       5049
2            1        128       2003-03-11          1967       4902
3            1        168       1999-09-01          1978       8651
4            1         80       1983-12-29           416       8904

            author_name language_code          language_name
0       Fulton J. Sheen         en-US  United States English
1         Larry Burkett           eng                English
2  Kenneth H. Blanchard           eng                English
3       Time-Life Books           eng                English
4      W. John Campbell           eng                English
DataFrame Name: computer_student_merged
   p_id  professor  student hasPosition        inPhase yearsInProgram  \
0     5          1        0     Faculty              0              0
1     5          1        0     Faculty              0              0
2     5          1        0     Faculty              0              0
3     9          0        1           0  Post_Generals         Year_5
4    18          0        1           0      Pre_Quals         Year_3

   course_id courseLevel
0         19   Level_500
1         51   Level_400
2         71   Level_500
3        124   Level_300
4         51   Level_400
DataFrame Name: mental_health_survey_merged
        questiontext  questionid AnswerText  SurveyID  UserID
0  What is your age?           1         37      2014       1
1  What is your age?           1         44      2014       2
2  What is your age?           1         32      2014       3
3  What is your age?           1         31      2014       4
4  What is your age?           1         31      2014       5
DataFrame Name: airline_merged
    FL_DATE  OP_CARRIER_AIRLINE_ID TAIL_NUM  OP_CARRIER_FL_NUM  \
0  2018/8/1                  19805   N956AN               1587
1  2018/8/1                  19805   N973AN               1588
2  2018/8/1                  19805    N9006               1590
3  2018/8/1                  19805   N870NN               1591
4  2018/8/1                  19805   N9023N               1593

   ORIGIN_AIRPORT_ID  ORIGIN_AIRPORT_SEQ_ID  ORIGIN_CITY_MARKET_ID ORIGIN  \
0              12478                1247805                  31703    JFK
1              14107                1410702                  30466    PHX
2              11042                1104205                  30647    CLE
3              14843                1484306                  34819    SJU
4              10423                1042302                  30423    AUS

   DEST_AIRPORT_ID  DEST_AIRPORT_SEQ_ID  ...  ARR_DELAY_NEW CANCELLED  \
0            14107              1410702  ...           44.0         0
1            11618              1161802  ...           53.0         0
2            11298              1129806  ...            0.0         0
3            11298              1129806  ...           43.0         0
4            13303              1330303  ...            0.0         0

   CANCELLATION_CODE  CRS_ELAPSED_TIME  ACTUAL_ELAPSED_TIME  CARRIER_DELAY  \
0                NaN               342                377.0            9.0
1                NaN               285                309.0            0.0
2                NaN               176                177.0            NaN
3                NaN               304                303.0           43.0
4                NaN               173                175.0            NaN

   WEATHER_DELAY  NAS_DELAY  SECURITY_DELAY  LATE_AIRCRAFT_DELAY
0            0.0       35.0             0.0                  0.0
1            0.0       53.0             0.0                  0.0
2            NaN        NaN             NaN                  NaN
3            0.0        0.0             0.0                  0.0
4            NaN        NaN             NaN                  NaN

[5 rows x 28 columns]
DataFrame Name: authors_merged
   Id               Name                                Affiliation ShortName  \
0   9      Ernest Jordan                                        NaN    COMSUR
1  14          K. MORIBE                                        NaN    EXPERT
2  15      D. Jakominich                                        NaN  INTERNET
3  25  William H. Nailon                                        NaN      PAMI
4  37   P. B. Littlewood  Cavendish Laboratory|Cambridge University       IFE

                                            FullName  \
0          IEEE Communications Surveys and Tutorials
1             IEEE Expert / IEEE Intelligent Systems
2                            IEEE Internet Computing
3  IEEE Transactions on Pattern Analysis and Mach...
4             Informatik - Forschung Und Entwicklung

                                            HomePage
0  http://www.comsoc.org/livepubs/surveys/index.html
1  http://ieeexplore.ieee.org/servlet/opac?punumb...
2                  http://www.computer.org/internet/
3                         http://computer.org/tpami/
4        http://www.springerlink.com/content/100528/
DataFrame Name: human_resources_merged
           ssn lastname firstname hiredate        salary gender performance  \
0  000-01-0000  Milgrom  Patricia  10/1/04  US$57,500.00      F     Average
1  000-02-2222    Adams     Sandy  1/15/01  US$19,500.00      F     Average
2  109-87-6543     Wood     Emily  3/12/97  US$69,000.00      F     Average
3  109-87-6544   Foster    Harold  8/14/05  US$55,000.00      M        Good
4  111-12-1111  Johnson     James   5/3/96  US$47,500.00      M        Good

   positionID  locationID   locationcity               address state  zipcode  \
0           2           2         Boston        3 Commons Blvd    MA     2190
1           3           1        Atlanta      450 Peachtree Rd    GA    30316
2           2           5  New York City  1650 Washington Blvd    NY    15648
3           1           3        Chicago      500 Loop Highway    IL    60620
4           1           3        Chicago      500 Loop Highway    IL    60620

     officephone           positiontitle educationrequired     minsalary  \
0  (617)123-4444                 Manager     4 year degree  US$50,000.00
1  (404)333-5555                 Trainee     2 year degree  US$18,000.00
2  (518)256-3100                 Manager     4 year degree  US$50,000.00
3  (312)444-6666  Account Representative     4 year degree  US$25,000.00
4  (312)444-6666  Account Representative     4 year degree  US$25,000.00

       maxsalary
0  US$150,000.00
1   US$25,000.00
2  US$150,000.00
3   US$75,000.00
4   US$75,000.00

In [3]:
for name, df in dataframes_dict.items():
    print(f"\nDataFrame Name: {name}")
    print("Columns:")
    for column in df.columns:
        print(f"  - {column}")

DataFrame Name: law_episode_merged
Columns:
  - award_id
  - organization
  - year
  - award_category
  - award
  - series_x
  - episode_id
  - person_id_x
  - role_x
  - result
  - person_id_y
  - category
  - role_y
  - credited
  - series_y
  - season
  - episode
  - number_in_series
  - title
  - summary
  - air_date
  - episode_image
  - rating
  - votes

DataFrame Name: books_merged
Columns:
  - book_id
  - title
  - isbn13
  - language_id
  - num_pages
  - publication_date
  - publisher_id
  - author_id
  - author_name
  - language_code
  - language_name

DataFrame Name: computer_student_merged
Columns:
  - p_id
  - professor
  - student
  - hasPosition
  - inPhase
  - yearsInProgram
  - course_id
  - courseLevel

DataFrame Name: mental_health_survey_merged
Columns:
  - questiontext
  - questionid
  - AnswerText
  - SurveyID
  - UserID

DataFrame Name: airline_merged
Columns:
  - FL_DATE
  - OP_CARRIER_AIRLINE_ID
  - TAIL_NUM
  - OP_CARRIER_FL_NUM
  - ORIGIN_AIRPORT_ID
  - ORIGIN_AIRPORT_SEQ_ID
  - ORIGIN_CITY_MARKET_ID
  - ORIGIN
  - DEST_AIRPORT_ID
  - DEST_AIRPORT_SEQ_ID
  - DEST_CITY_MARKET_ID
  - DEST
  - CRS_DEP_TIME
  - DEP_TIME
  - DEP_DELAY
  - DEP_DELAY_NEW
  - ARR_TIME
  - ARR_DELAY
  - ARR_DELAY_NEW
  - CANCELLED
  - CANCELLATION_CODE
  - CRS_ELAPSED_TIME
  - ACTUAL_ELAPSED_TIME
  - CARRIER_DELAY
  - WEATHER_DELAY
  - NAS_DELAY
  - SECURITY_DELAY
  - LATE_AIRCRAFT_DELAY

DataFrame Name: authors_merged
Columns:
  - Id
  - Name
  - Affiliation
  - ShortName
  - FullName
  - HomePage

DataFrame Name: human_resources_merged
Columns:
  - ssn
  - lastname
  - firstname
  - hiredate
  - salary
  - gender
  - performance
  - positionID
  - locationID
  - locationcity
  - address
  - state
  - zipcode
  - officephone
  - positiontitle
  - educationrequired
  - minsalary
  - maxsalary

In [4]:
for name, df in dataframes_dict.items():
    print(f"\n - {name}")

 - law_episode_merged

 - books_merged

 - computer_student_merged

 - mental_health_survey_merged

 - airline_merged

 - authors_merged

 - human_resources_merged

In [5]:
for key, df in dataframes_dict.items():
    # Drop columns containing 'id', 'ID', or '_y' in their names
    cols_to_drop = [col for col in df.columns if 'id' in col.lower() or '_y' in col]
    df = df.drop(columns=cols_to_drop)

    # Rename columns by removing '_x'
    df.columns = [col.replace('_x', '') for col in df.columns]

    # Update the dictionary
    dataframes_dict[key] = df

In [37]:
dataframes_dict['debit_card_specializing_merged'].drop(["CustomerID","TransactionID","CardID","GasStationID","ProductID","ChainID","Segment_y"],axis=1,inplace=True)
dataframes_dict['financial_merged'].drop(["card_id","disp_id","client_id","district_id_x","account_id","district_id_y","type_y","order_id","trans_id","date_y","type_x","type_y","amount_y","k_symbol_y"],axis=1,inplace=True)
del dataframes_dict['thrombosis_prediction_merged']
dataframes_dict['california_schools_merged'].drop(["NSLP Provision Status", "Charter School (Y/N)", "Charter School Number", "Charter Funding Type", "IRC", "Low Grade", "High Grade", "Enrollment (K-12)", "Free Meal Count (K-12)", "Percent (%) Eligible Free (K-12)", "FRPM Count (K-12)", "Percent (%) Eligible FRPM (K-12)", "Enrollment (Ages 5-17)", "Free Meal Count (Ages 5-17)", "Percent (%) Eligible Free (Ages 5-17)", "FRPM Count (Ages 5-17)", "Percent (%) Eligible FRPM (Ages 5-17)", "2013-14 CALPADS Fall 1 Certification Status", "rtype", "sname", "dname", "cname", "enroll12", "NumTstTakr", "AvgScrRead", "AvgScrMath", "AvgScrWrite", "NumGE1500", "NCESDist", "NCESSchool", "StatusType","Charter", "CharterNum", "FundingType", "DOC", "DOCType", "SOC", "SOCType", "EdOpsCode", "EdOpsName", "EILCode", "EILName", "GSoffered", "GSserved", "Virtual", "Magnet", "Latitude", "Longitude", "AdmFName1", "AdmLName1", "AdmEmail1", "AdmFName2", "AdmLName2", "AdmEmail2", "AdmFName3", "AdmLName3", "AdmEmail3", "LastUpdate"],axis=1,inplace=True)
dataframes_dict['superhero_merged'] = dataframes_dict['superhero_merged'].loc[:, ~dataframes_dict['superhero_merged'].columns.str.contains('id', case=False)]

In [38]:
print(len(dataframes_dict['debit_card_specializing_merged']))
dataframes_dict['debit_card_specializing_merged'].head(5)

1000

  Segment_x Currency        Date      Time  Amount  Price Country Description
0       LAM      EUR  2012-08-24  09:26:00      29  28.17     SVK   Nat.Super
1       LAM      EUR  2012-08-24  11:44:00      18  16.43     SVK      Diesel
2       LAM      EUR  2012-08-24  12:18:00      18  16.63     SVK      Diesel
3       LAM      EUR  2012-08-24  12:25:00      23  20.38     SVK      Diesel
4       LAM      EUR  2012-08-24  11:40:00      62  59.76     SVK   Nat.Super

In [39]:
del dataframes_dict['debit_card_specializing_merged']

In [40]:
print(len(dataframes_dict['financial_merged']))
dataframes_dict['financial_merged'].head(5)

352697

,issued,gender,birth_date,frequency,date_x,bank_to,account_to,amount_x,k_symbol_x,type,operation,balance,bank,account
0,1998-10-16,M,1935-10-16,POPLATEK MESICNE,1996-11-24,IJ,34452903,4880.0,SIPO,PRIJEM,VKLAD,900,NaN,NaN
1,1998-10-16,M,1935-10-16,POPLATEK MESICNE,1996-11-24,IJ,34452903,4880.0,SIPO,PRIJEM,VKLAD,34875,NaN,NaN
2,1998-10-16,M,1935-10-16,POPLATEK MESICNE,1996-11-24,IJ,34452903,4880.0,SIPO,PRIJEM,VKLAD,50955,NaN,NaN
3,1998-10-16,M,1935-10-16,POPLATEK MESICNE,1996-11-24,IJ,34452903,4880.0,SIPO,PRIJEM,VKLAD,61436,NaN,NaN
4,1998-10-16,M,1935-10-16,POPLATEK MESICNE,1996-11-24,IJ,34452903,4880.0,SIPO,PRIJEM,VKLAD,69755,NaN,NaN

In [41]:
dataframes_dict['financial_merged'].rename(columns={"date_x": "date", "amount_x": "amount","k_symbol_x" : "symbol"}, inplace=True)

In [42]:
print(len(dataframes_dict['california_schools_merged']))
dataframes_dict['california_schools_merged'].head(5)

1782

,CDSCode,Academic Year,County Code,District Code,School Code,County Name,District Name,School Name,District Type,School Type,...,MailStreet,MailStrAbr,MailCity,MailZip,MailState,Phone,Ext,Website,OpenDate,ClosedDate
0,1100170109835,2014-2015,1,10017,109835,Alameda,Alameda County Office of Education,FAME Public Charter,County Office of Education (COE),K-12 Schools (Public),...,"39899 Balentine Drive, Suite 335","39899 Balentine Dr., Ste. 335",Newark,94560-5359,CA,NaN,NaN,NaN,2005-08-29,2015-07-31
1,1100170112607,2014-2015,1,10017,112607,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,County Office of Education (COE),High Schools (Public),...,1515 Webster Street,1515 Webster St.,Oakland,94612,CA,(510) 596-8901,NaN,www.envisionacademy.org/,2006-08-28,NaN
2,1100170118489,2014-2015,1,10017,118489,Alameda,Alameda County Office of Education,Aspire California College Preparatory Academy,County Office of Education (COE),High Schools (Public),...,"1001 22nd Avenue, Suite 100","1001 22nd Ave., Ste. 100",Oakland,94606,CA,NaN,NaN,www.aspirepublicschools.org,2008-08-21,2015-06-30
3,1611190106401,2014-2015,1,61119,106401,Alameda,Alameda Unified,Alameda Science and Technology Institute,Unified School District,Alternative Schools of Choice,...,555 Atlantic Avenue,555 Atlantic Ave.,Alameda,94501-2109,CA,(510) 748-4021,NaN,NaN,2004-08-19,NaN
4,1611190119222,2014-2015,1,61119,119222,Alameda,Alameda Unified,Nea Community Learning Center,Unified School District,K-12 Schools (Public),...,1900 Third Street,1900 Third St.,Alameda,94501-1851,CA,(510) 748-4008,130.0,http://neaclc.org,2009-08-31,NaN

In [43]:
print(len(dataframes_dict['superhero_merged']))
dataframes_dict['superhero_merged'].head(5)

737

,superhero_name,full_name,height_cm,weight_kg,alignment,race,publisher_name,gender,colour
0,3-D Man,Charles Chandler,188.0,90.0,Good,-,Marvel Comics,Male,Grey
1,A-Bomb,Richard Milhouse Jones,203.0,441.0,Good,Human,Marvel Comics,Male,No Colour
2,Abe Sapien,Abraham Sapien,191.0,65.0,Good,Icthyo Sapien,Dark Horse Comics,Male,No Colour
3,Abin Sur,-,185.0,90.0,Good,Ungaran,DC Comics,Male,No Colour
4,Abomination,Emil Blonsky,203.0,441.0,Bad,Human / Radiation,Marvel Comics,Male,No Colour

In [44]:
df_clean = dataframes_dict['financial_merged'].dropna()

# Step 2: Select the first 120 rows from the cleaned DataFrame
df_selected = df_clean.head(120)
df_selected['index'] = range(1, len(df_selected) + 1)
dataframes_dict['financial_merged'] = df_selected
# Move 'index' column to the beginning
dataframes_dict['financial_merged'] = dataframes_dict['financial_merged'][['index'] + [col for col in dataframes_dict['financial_merged'].columns if col != 'index']]

dataframes_dict['financial_merged']

/tmp/ipykernel_2273155/4255919130.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['index'] = range(1, len(df_selected) + 1)

,index,issued,gender,birth_date,frequency,date,bank_to,account_to,amount,symbol,type,operation,balance,bank,account
26,1,1998-10-16,M,1935-10-16,POPLATEK MESICNE,1996-11-24,IJ,34452903,4880.0,SIPO,VYDAJ,PREVOD NA UCET,46708,IJ,34452903.0
27,2,1998-10-16,M,1935-10-16,POPLATEK MESICNE,1996-11-24,IJ,34452903,4880.0,SIPO,VYDAJ,PREVOD NA UCET,42813,IJ,34452903.0
28,3,1998-10-16,M,1935-10-16,POPLATEK MESICNE,1996-11-24,IJ,34452903,4880.0,SIPO,VYDAJ,PREVOD NA UCET,47859,IJ,34452903.0
29,4,1998-10-16,M,1935-10-16,POPLATEK MESICNE,1996-11-24,IJ,34452903,4880.0,SIPO,VYDAJ,PREVOD NA UCET,43505,IJ,34452903.0
30,5,1998-10-16,M,1935-10-16,POPLATEK MESICNE,1996-11-24,IJ,34452903,4880.0,SIPO,VYDAJ,PREVOD NA UCET,45298,IJ,34452903.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615,116,1998-11-26,M,1935-08-17,POPLATEK TYDNE,1993-09-17,WX,21845197,1479.0,LEASING,PRIJEM,PREVOD Z UCTU,67777,EF,2569228.0
616,117,1998-11-26,M,1935-08-17,POPLATEK TYDNE,1993-09-17,WX,21845197,1479.0,LEASING,PRIJEM,PREVOD Z UCTU,93261,EF,2569228.0
617,118,1998-11-26,M,1935-08-17,POPLATEK TYDNE,1993-09-17,WX,21845197,1479.0,LEASING,PRIJEM,PREVOD Z UCTU,72036,EF,2569228.0
618,119,1998-11-26,M,1935-08-17,POPLATEK TYDNE,1993-09-17,WX,21845197,1479.0,LEASING,PRIJEM,PREVOD Z UCTU,72624,EF,2569228.0
619,120,1998-11-26,M,1935-08-17,POPLATEK TYDNE,1993-09-17,WX,21845197,1479.0,LEASING,PRIJEM,PREVOD Z UCTU,83942,EF,2569228.0

In [45]:
df = dataframes_dict['california_schools_merged']

# Step 1: Drop columns with more than 80% null values
threshold = 0.8  # 80%
df_clean = df.loc[:, df.isnull().mean() < threshold]

# Step 2: Drop any remaining rows with all values null (optional)
df_clean = df_clean.dropna(how='all')

# Step 3: Select the first 120 rows
df_selected = df_clean.head(120)

# Step 4: Add an index column starting from 1
df_selected['index'] = range(1, len(df_selected) + 1)

# Step 5: Move 'index' column to the beginning
cols = ['index'] + [col for col in df_selected.columns if col != 'index']
df_selected[cols]

/tmp/ipykernel_2273155/1399687790.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['index'] = range(1, len(df_selected) + 1)

,index,CDSCode,Academic Year,County Code,District Code,School Code,County Name,District Name,School Name,District Type,...,Zip,State,MailStreet,MailStrAbr,MailCity,MailZip,MailState,Phone,Website,OpenDate
0,1,1100170109835,2014-2015,1,10017,109835,Alameda,Alameda County Office of Education,FAME Public Charter,County Office of Education (COE),...,94560-5359,CA,"39899 Balentine Drive, Suite 335","39899 Balentine Dr., Ste. 335",Newark,94560-5359,CA,NaN,NaN,2005-08-29
1,2,1100170112607,2014-2015,1,10017,112607,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,County Office of Education (COE),...,94612-3355,CA,1515 Webster Street,1515 Webster St.,Oakland,94612,CA,(510) 596-8901,www.envisionacademy.org/,2006-08-28
2,3,1100170118489,2014-2015,1,10017,118489,Alameda,Alameda County Office of Education,Aspire California College Preparatory Academy,County Office of Education (COE),...,94703-1414,CA,"1001 22nd Avenue, Suite 100","1001 22nd Ave., Ste. 100",Oakland,94606,CA,NaN,www.aspirepublicschools.org,2008-08-21
3,4,1611190106401,2014-2015,1,61119,106401,Alameda,Alameda Unified,Alameda Science and Technology Institute,Unified School District,...,94501-2109,CA,555 Atlantic Avenue,555 Atlantic Ave.,Alameda,94501-2109,CA,(510) 748-4021,NaN,2004-08-19
4,5,1611190119222,2014-2015,1,61119,119222,Alameda,Alameda Unified,Nea Community Learning Center,Unified School District,...,94501-1851,CA,1900 Third Street,1900 Third St.,Alameda,94501-1851,CA,(510) 748-4008,http://neaclc.org,2009-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,7616480730465,2014-2015,7,61648,730465,Contra Costa,Antioch Unified,Deer Valley High,Unified School District,...,94531-8486,CA,4700 Lone Tree Way,4700 Lone Tree Way,Antioch,94531-8486,CA,(925) 776-5555,NaN,1996-08-06
116,117,7616480730861,2014-2015,7,61648,730861,Contra Costa,Antioch Unified,Antioch High,Unified School District,...,94509-1576,CA,700 West 18th Street,700 West 18th St.,Antioch,94509-1576,CA,(925) 779-7550,NaN,1980-07-01
117,118,7616630130930,2014-2015,7,61663,130930,Contra Costa,Byron Union Elementary,Vista Oaks Charter,Elementary School District,...,94514-2515,CA,315 South Lower Sacramento Rd Suite A,315 South Lower Sacramento Rd Ste. A,Lodi,95242,CA,(209) 365-4060,www.vistaoaks.net,2014-08-11
118,119,7616970737023,2014-2015,7,61697,737023,Contra Costa,John Swett Unified,John Swett High,Unified School District,...,94525-1426,CA,1098 Pomona Street,1098 Pomona St.,Crockett,94525-1426,CA,(510) 787-1088,www.jsusd.org,1980-07-01
119,120,7617210107797,2014-2015,7,61721,107797,Contra Costa,Liberty Union High,Heritage High,High School District,...,94513-4604,CA,101 American Avenue,101 American Ave.,Brentwood,94513-4604,CA,(925) 634-0037,NaN,2005-08-01

In [6]:
for key, df in dataframes_dict.items():

    # Step 3: Drop NaN rows
    df = df.dropna()

    # Step 4: Select first 120 rows
    df = df.head(120)

    # Step 5: Add index column starting from 1
    df['index'] = range(1, len(df) + 1)

    # Step 6: Move 'index' column to the beginning
    cols = ['index'] + [col for col in df.columns if col != 'index']
    df = df[cols]

    # Update in dictionary
    dataframes_dict[key] = df

In [46]:
dataframes_dict['california_schools_merged'] = df_selected[cols]
dataframes_dict['california_schools_merged'].drop(["Website"],axis=1,inplace=True)

/tmp/ipykernel_2273155/1379163965.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframes_dict['california_schools_merged'].drop(["Website"],axis=1,inplace=True)

In [7]:
for key, df in dataframes_dict.items():
    print(f"\n=== Head of '{key}' ===")
    print(df.head(5))

=== Head of 'law_episode_merged' ===
     index           organization  year  award_category  \
634      1  Primetime Emmy Awards  1999  Primetime Emmy
635      2  Primetime Emmy Awards  1999  Primetime Emmy
636      3  Primetime Emmy Awards  1999  Primetime Emmy
637      4  Primetime Emmy Awards  1999  Primetime Emmy
638      5  Primetime Emmy Awards  1999  Primetime Emmy

                                           award         series  \
634  Outstanding Guest Actress in a Drama Series  Law and Order
635  Outstanding Guest Actress in a Drama Series  Law and Order
636  Outstanding Guest Actress in a Drama Series  Law and Order
637  Outstanding Guest Actress in a Drama Series  Law and Order
638  Outstanding Guest Actress in a Drama Series  Law and Order

               role   result         category  credited  season  episode  \
634  Katrina Ludlow  Nominee  Additional Crew      True       9       20
635  Katrina Ludlow  Nominee  Additional Crew      True       9       20
636  Katrina Ludlow  Nominee  Additional Crew      True       9       20
637  Katrina Ludlow  Nominee  Additional Crew      True       9       20
638  Katrina Ludlow  Nominee  Additional Crew      True       9       20

     number_in_series   title  \
634               201  Empire
635               201  Empire
636               201  Empire
637               201  Empire
638               201  Empire

                                               summary    air_date  \
634  A businessman planning to build a new football...  1999-05-05
635  A businessman planning to build a new football...  1999-05-05
636  A businessman planning to build a new football...  1999-05-05
637  A businessman planning to build a new football...  1999-05-05
638  A businessman planning to build a new football...  1999-05-05

                                         episode_image  rating  votes
634  https://m.media-amazon.com/images/M/MV5BNjI0Yj...     7.6    218
635  https://m.media-amazon.com/images/M/MV5BNjI0Yj...     7.6    218
636  https://m.media-amazon.com/images/M/MV5BNjI0Yj...     7.6    218
637  https://m.media-amazon.com/images/M/MV5BNjI0Yj...     7.6    218
638  https://m.media-amazon.com/images/M/MV5BNjI0Yj...     7.6    218

=== Head of 'books_merged' ===
   index                                              title       isbn13  \
0      1        The World's First Love: Mary  Mother of God   8987059752
1      2                                     The Illuminati  20049130001
2      3                                 The Servant Leader  23755004321
3      4  What Life Was Like in the Jewel in the Crown: ...  34406054602
4      5  Cliffs Notes on Aristophanes' Lysistrata  The ...  49086007763

   num_pages publication_date           author_name language_code  \
0        276       1996-09-01       Fulton J. Sheen         en-US
1        352       2004-10-04         Larry Burkett           eng
2        128       2003-03-11  Kenneth H. Blanchard           eng
3        168       1999-09-01       Time-Life Books           eng
4         80       1983-12-29      W. John Campbell           eng

           language_name
0  United States English
1                English
2                English
3                English
4                English

=== Head of 'computer_student_merged' ===
   index  professor  student hasPosition        inPhase yearsInProgram  \
0      1          1        0     Faculty              0              0
1      2          1        0     Faculty              0              0
2      3          1        0     Faculty              0              0
3      4          0        1           0  Post_Generals         Year_5
4      5          0        1           0      Pre_Quals         Year_3

  courseLevel
0   Level_500
1   Level_400
2   Level_500
3   Level_300
4   Level_400

=== Head of 'mental_health_survey_merged' ===
   index       questiontext AnswerText
0      1  What is your age?         37
1      2  What is your age?         44
2      3  What is your age?         32
3      4  What is your age?         31
4      5  What is your age?         31

=== Head of 'airline_merged' ===
Empty DataFrame
Columns: [index, FL_DATE, TAIL_NUM, OP_CARRIER_FL_NUM, ORIGIN, DEST, CRS_DEP_TIME, DEP_TIME, DEP_DELAY, DEP_DELAY_NEW, ARR_TIME, ARR_DELAY, ARR_DELAY_NEW, CANCELLED, CANCELLATION_CODE, CRS_ELAPSED_TIME, ACTUAL_ELAPSED_TIME, CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY]
Index: []

[0 rows x 22 columns]

=== Head of 'authors_merged' ===
   index              Name                                        Affiliation  \
4      1  P. B. Littlewood          Cavendish Laboratory|Cambridge University
5      2        A. Kuroiwa  Department of Molecular Biology|School of Scie...
6      3      Jose Pereira       HASLab / INESC TEC and Universidade do Minho
7      4       Buzz Aldrin  Purdue University, West Lafayette, Indiana 479...
9      5      E.c.c. Tsang  This project,is supported,by a Hong,Kong,Polyt...

  ShortName                                      FullName  \
4       IFE        Informatik - Forschung Und Entwicklung
5      IMCS    Information Management & Computer Security
6   INFORMS                  Informs Journal on Computing
7      IJIS  International Journal of Intelligent Systems
9      TOIT       ACM Transactions on Internet Technology

                                            HomePage
4        http://www.springerlink.com/content/100528/
5             http://www.emeraldinsight.com/imcs.htm
6                       http://joc.pubs.informs.org/
7  http://www.interscience.wiley.com/jpages/0884-...
9                           http://www.acm.org/toit/

=== Head of 'human_resources_merged' ===
   index          ssn lastname firstname hiredate        salary gender  \
0      1  000-01-0000  Milgrom  Patricia  10/1/04  US$57,500.00      F
1      2  000-02-2222    Adams     Sandy  1/15/01  US$19,500.00      F
2      3  109-87-6543     Wood     Emily  3/12/97  US$69,000.00      F
3      4  109-87-6544   Foster    Harold  8/14/05  US$55,000.00      M
4      5  111-12-1111  Johnson     James   5/3/96  US$47,500.00      M

  performance   locationcity               address state  zipcode  \
0     Average         Boston        3 Commons Blvd    MA     2190
1     Average        Atlanta      450 Peachtree Rd    GA    30316
2     Average  New York City  1650 Washington Blvd    NY    15648
3        Good        Chicago      500 Loop Highway    IL    60620
4        Good        Chicago      500 Loop Highway    IL    60620

     officephone           positiontitle educationrequired     minsalary  \
0  (617)123-4444                 Manager     4 year degree  US$50,000.00
1  (404)333-5555                 Trainee     2 year degree  US$18,000.00
2  (518)256-3100                 Manager     4 year degree  US$50,000.00
3  (312)444-6666  Account Representative     4 year degree  US$25,000.00
4  (312)444-6666  Account Representative     4 year degree  US$25,000.00

       maxsalary
0  US$150,000.00
1   US$25,000.00
2  US$150,000.00
3   US$75,000.00
4   US$75,000.00

In [8]:
def row_to_sentence(row,primary_key=""):
    # Start the sentence with an introductory phrase
    sentence = ""
    
    # Dynamically iterate over all columns
    for col in row.index:
        if col!=primary_key:
            value = str(row[col]).strip()  # Ensure value is a string and remove leading/trailing spaces
            if value.lower() != "nan":  # Skip NaN values
                col = col.lower()
                value = value.strip("'")  # Remove surrounding single quotes if present
                value = value.lower()
                sentence += f"{col} is {value}, "
    
    # Remove the trailing comma and space, then end with a period
    sentence = sentence.rstrip(", ") + "."
    return sentence


for key in dataframes_dict:
    df = dataframes_dict[key]
    df['sentence'] = df.apply(lambda row: row_to_sentence(row, primary_key="index"), axis=1)
    dataframes_dict[key] = df


import os

# Define output paths
paths = {
    'law_episode_merged': "sources/BIRD/law_episode/data_sentence.csv",
    'books_merged':"sources/BIRD/books/data_sentence.csv",
    'computer_student_merged':"sources/BIRD/computer_student/data_sentence.csv",
    'mental_health_survey_merged':"sources/BIRD/mental_health_survey/data_sentence.csv",
    'airline_merged':"sources/BIRD/airline/data_sentence.csv",
    'authors_merged':"sources/BIRD/authors/data_sentence.csv",
    'human_resources_merged': "sources/BIRD/human_resources/data_sentence.csv"
}

# Create directories and save CSVs
for key, path in paths.items():
    dir_path = os.path.dirname(path)
    os.makedirs(dir_path, exist_ok=True)  # Ensure directory exists
    dataframes_dict[key].to_csv(path, index=False)  # Save CSV

*Run from here*:

In [1]:
import pandas as pd
dataframes_dict = {}
paths = {
    'california_schools': "sources/BIRD/california_schools/data_sentence.csv",
    'financial': "sources/BIRD/financial/data_sentence.csv",
    'superhero': "sources/BIRD/superhero/data_sentence.csv",
    'law_episode_merged': "sources/BIRD/law_episode/data_sentence.csv",
    'books_merged':"sources/BIRD/books/data_sentence.csv",
    'computer_student_merged':"sources/BIRD/computer_student/data_sentence.csv",
    'mental_health_survey_merged':"sources/BIRD/mental_health_survey/data_sentence.csv",
    'airline_merged':"sources/BIRD/airline/data_sentence.csv",
    'authors_merged':"sources/BIRD/authors/data_sentence.csv",
    'human_resources_merged': "sources/BIRD/human_resources/data_sentence.csv"
}

# Create directories and save CSVs
for key, path in paths.items():
    dataframes_dict[key] = pd.read_csv(path)  # Save CSV

In [2]:
import torch
torch.cuda.empty_cache()
import warnings
warnings.simplefilter("ignore")

In [3]:
import pandas as pd
import os
from transformers import LlamaTokenizer, LlamaForCausalLM, AutoConfig
from transformers import AutoModelForCausalLM, AutoTokenizer
import random

2025-05-07 00:32:14.780074: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-05-07 00:32:14.794796: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:467] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1746577934.810686 2336158 cuda_dnn.cc:8579] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1746577934.815634 2336158 cuda_blas.cc:1407] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
W0000 00:00:1746577934.828795 2336158 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1746577934.828811 2336158 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1746577934.828812 2336158 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1746577934.828814 2336158 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
2025-05-07 00:32:14.833372: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [4]:
class Model:
    def __init__(self):
        device = torch.device("cuda:0")
        model_name = "meta-llama/Meta-Llama-3.1-8B-Instruct"
        self.model = LlamaForCausalLM.from_pretrained(
            model_name,# config = config, 
            torch_dtype=torch.float16,
            device_map='auto',
        ).to(device)
        self.tokenizer = AutoTokenizer.from_pretrained(model_name)
        self.tokenizer.eos_token = self.tokenizer.pad_token  # Set PAD token to EOS
        
    def predict(self,prompt, user_prompt=""):
        model,tokenizer = self.model, self.tokenizer
        temp = random.random()
        messages = [
        {"role": "system", "content": prompt},
        {"role": "user", "content": user_prompt}
        ]
        prompt = tokenizer.apply_chat_template(messages, tokenize=False)
        inputs = tokenizer(prompt, return_tensors="pt").to('cuda')
        # print(inputs)
        generate_ids = model.generate(**inputs, max_new_tokens=4096, do_sample=True, temperature=temp,pad_token_id=tokenizer.eos_token_id) # Disable sampling for deterministic output
        generate_ids = generate_ids[0][len(inputs["input_ids"][0]):-1]
        infer_res = tokenizer.decode(generate_ids)
        return infer_res
        
    def enhance_sentence_with_llama(self,sentence):
        model = self.model
        # Construct the prompt
        system_prompt = "You are a creative AI that rephrases given sentences into engaging, conversational stories of a person while incorporating all provided datapoints. Ensure that no information is omitted or added, and skip any datapoints labeled as 'nan'. Do not rephrase the object of a sentence. For example, if the sentence is 'start date is 9/22/2023', do not change the date to a different format. Respond only with the rephrased sentence without any additional commentary."
        user_prompt = f"""
    Rephrase the following sentence into a conversational story, ensuring all datapoints are included while skipping 'nan' values. Do not introduce any extra or false details.
    
    Original sentence: {sentence}
    
    Creative sentence:"""
        creative_sentence = self.predict(system_prompt,user_prompt)
        creative_sentence = creative_sentence.replace("<|start_header_id|>assistant<|end_header_id|>\n\n", "")
        
        # Extract only the generated part
        # creative_sentence = response.split("Creative sentence:")[-1].strip()
        return creative_sentence

In [5]:
model = Model()
model.enhance_sentence_with_llama("Row ID 348: ROW_ID_x is '1136896.0', SUBJECT_ID is '23', HADM_ID_x is '124321.0', ICUSTAY_ID is '234044.0', STARTDATE is '2157-10-21 00:00:00', ENDDATE is '2157-10-25 00:00:00', DRUG_TYPE is 'MAIN', DRUG is 'Sodium Chloride 0.9%  Flush', DRUG_NAME_POE is 'Sodium Chloride 0.9%  Flush', DRUG_NAME_GENERIC is 'Sodium Chloride 0.9%  Flush', FORMULARY_DRUG_CD is 'NACLFLUSH', GSN is 'nan', NDC is '0.0', PROD_STRENGTH is 'Syringe', DOSE_VAL_RX is '3', DOSE_UNIT_RX is 'mL', FORM_VAL_DISP is '0.6', FORM_UNIT_DISP is 'SYR', ROUTE is 'IV', ROW_ID_y is '23.0', HADM_ID_y is '124321.0', ADMITTIME is '2157-10-18 19:34:00', DISCHTIME is '2157-10-25 14:00:00', DEATHTIME is 'nan', ADMISSION_TYPE is 'EMERGENCY', ADMISSION_LOCATION is 'TRANSFER FROM HOSP/EXTRAM', DISCHARGE_LOCATION is 'HOME HEALTH CARE', INSURANCE is 'Medicare', LANGUAGE is 'ENGL', RELIGION is 'CATHOLIC', MARITAL_STATUS is 'MARRIED', ETHNICITY is 'WHITE', EDREGTIME is 'nan', EDOUTTIME is 'nan', DIAGNOSIS is 'BRAIN MASS', HOSPITAL_EXPIRE_FLAG is '0.0', HAS_CHARTEVENTS_DATA is '1.0'.")

Loading checkpoint shards: 100%|█████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:06<00:00,  1.54s/it]
Setting `pad_token_id` to `eos_token_id`:None for open-end generation.

"As I scrolled through the hospital records, I came across the case of patient 23, who was admitted on October 18th, 2157, at 7:34 PM, after being transferred from another hospital. The emergency admission was a result of a brain mass diagnosis, and the patient was discharged on October 25th, 2157, at 2 PM, back to their home healthcare. The patient's insurance covered their stay, which was paid for by Medicare, and their marital status was listed as married, with a self-identified ethnicity of white and a Catholic religion."

In [6]:
# Define the checkpoint function
def process_with_checkpoint(model,df, checkpoint_file, start_index=0, batch_size=10):
    # Load existing checkpoint if it exists
    if os.path.exists(checkpoint_file):
        df = pd.read_csv(checkpoint_file)
        print("Loaded existing checkpoint.")
        if 'creative_sentence' not in df.columns:
            df['creative_sentence'] = None
    try:
        df = df.head(120)
    except:
        pass
    
    try:
        # Process the dataframe in batches
        for i in range(start_index, len(df), batch_size):
            # Process a batch of rows
            batch = df.iloc[i:i + batch_size]
            
            for idx, row in batch.iterrows():
                if pd.isna(row['creative_sentence']):  # Only process rows not yet completed
                    df.at[idx, 'creative_sentence'] = model.enhance_sentence_with_llama(row['sentence'])
            
            # Save progress after processing each batch
            df.to_csv(checkpoint_file, index=False)
            print(f"Checkpoint saved at row {i + batch_size}.")
    except Exception as e:
        print(f"Error occurred: {e}")
        # Save the checkpoint if an error occurs
        df.to_csv(checkpoint_file, index=False)
        print("Checkpoint saved after error.")
    
    return df

In [7]:
import json
import pandas as pd
import numpy as np

def dataframe_to_json(shortened_df, dataset_path, primary_key):
    json_data = []
    shortened_df = shortened_df.drop(columns=['sentence'])
    
    for _, row in shortened_df.iterrows():
        # Extract the primary key value if it's valid
        primary_id = str(row[primary_key]).lower() if primary_key in row and pd.notna(row[primary_key]) and str(row[primary_key]).lower() != "nan" else None
        
        # Build key-value pairs, skipping 'creative_sentence' and the primary key
        key_value = {
            col.lower(): (primary_id, str(row[col]).lower()) 
            for col in shortened_df.columns 
            if col not in ["creative_sentence", primary_key] and pd.notna(row[col]) and str(row[col]).lower() != "nan"
        }

        entities = list(key_value.keys())

        json_data.append({
            "text": row["creative_sentence"],
            "ground_truth_entities": entities,
            "ground_truth_key_value": key_value
        })

    with open(f"{dataset_path}.json", 'w') as json_file:
        json.dump(json_data, json_file, indent=4)
    
    print("JSON file saved successfully!")

In [8]:
import json

def combine_jsons(dataset_path):
    # Load the JSON file
    with open(f"{dataset_path}.json", "r") as json_file:
        data = json.load(json_file)
    
    # Combine every 5 entries
    combined_data = []
    batch_size = 5  # Number of entries to combine
    
    for i in range(0, len(data), batch_size):
        batch = data[i:i + batch_size]  # Take a batch of 5
    
        # Merge text fields
        combined_text = "\n".join(str(entry["text"]) for entry in batch)
    
        # Merge unique entities
        combined_entities = list(set(entity for entry in batch for entity in entry["ground_truth_entities"]))
    
        # Merge key-value pairs, keeping all values in a list
        combined_key_value = {}
    
        for entry in batch:
            for key, value in entry["ground_truth_key_value"].items():
                if key in combined_key_value:
                    if value not in combined_key_value[key]:  # Avoid duplicate values
                        combined_key_value[key].append(value)
                else:
                    combined_key_value[key] = [value]

        difficulty = None
        domain = None
        if "california_schools" in dataset_path:
            domain = "california_schools"
        elif "financial" in dataset_path:
            domain = "financial"
        elif "superhero" in dataset_path:
            domain = "superhero"
        elif "law_episode" in dataset_path:
            domain = "law_episode"
        elif "books" in dataset_path:
            domain = "books"
        elif "computer_student" in dataset_path:
            domain = "computer_student"
        elif "mental_health_survey" in dataset_path:
            domain = "mental_health_survey"
        elif "airline" in dataset_path:
            domain = "airline"
        elif "authors" in dataset_path:
            domain = "authors"
        elif "human_resources" in dataset_path:
            domain = "human_resources"
        else:
            domain = "unknown"
        
        
        # Append combined entry
        combined_data.append({
            "text": combined_text,
            "ground_truth_entities": combined_entities,
            "ground_truth_key_value": combined_key_value,
            "difficulty": difficulty,
            "domain": domain
        })
    
    # Save the new JSON file
    with open(f"{dataset_path}_combined.json", "w") as json_file:
        json.dump(combined_data, json_file, indent=4)
    
    print("Combined JSON file saved successfully!")

In [9]:
import json

# Load the combined JSON file
def clean_combined_jsons(dataset_path):
    with open(f"{dataset_path}_combined.json", "r") as json_file:
        combined_data = json.load(json_file)
    
    # Function to clean entities and key-value pairs
    def clean_entry(entry):
        text = entry["text"].lower()  # Convert text to lowercase for case-insensitive matching
    
        # Keep only entities that exist in the text
        filtered_entities = [entity for entity in entry["ground_truth_entities"] if entity.lower() in text]
    
        # Initialize filtered key-value store
        filtered_key_value = {}
    
        for key, value_list in entry["ground_truth_key_value"].items():
            if isinstance(value_list, list):
                valid_pairs = []
                
                for pair in value_list:
                    if isinstance(pair, list) and len(pair) == 2:  # Ensure it's a (trip_id, value) structure
                        trip_id, actual_value = pair
                        
                        # Keep only pairs where the value appears in the text
                        if str(actual_value).lower() in text:
                            valid_pairs.append([trip_id, actual_value])
                
                # Only add key if it has valid values
                if valid_pairs:
                    filtered_key_value[key] = valid_pairs

        # Return cleaned entry
        return {
            "text": entry["text"],
            "ground_truth_entities": filtered_entities,
            "ground_truth_key_value": filtered_key_value,
            "difficulty": entry["difficulty"],
            "domain": entry["domain"]
            
        }
    # Apply the cleaning function to each entry
    cleaned_data = [clean_entry(entry) for entry in combined_data]
    
    # Save the cleaned JSON file
    with open(f"{dataset_path}_combined_cleaned.json", "w") as json_file:
        json.dump(cleaned_data, json_file, indent=4)
    
    print("Cleaned JSON file saved successfully!")

In [10]:
for name, df in dataframes_dict.items():
    row_count = df.shape[0]
    print("column_count in",name,row_count)
    nan_rows = df[df.isna().any(axis=1)]
    print("nan_rows in",name,len(nan_rows))

column_count in california_schools 120
nan_rows in california_schools 5
column_count in financial 120
nan_rows in financial 0
column_count in superhero 120
nan_rows in superhero 21
column_count in law_episode_merged 120
nan_rows in law_episode_merged 0
column_count in books_merged 120
nan_rows in books_merged 0
column_count in computer_student_merged 120
nan_rows in computer_student_merged 0
column_count in mental_health_survey_merged 120
nan_rows in mental_health_survey_merged 0
column_count in airline_merged 0
nan_rows in airline_merged 0
column_count in authors_merged 120
nan_rows in authors_merged 0
column_count in human_resources_merged 22
nan_rows in human_resources_merged 0

In [11]:
for name, df in dataframes_dict.items():
    df_clean = df.dropna()
    dataframes_dict[name] = df_clean

In [12]:
for name, df in dataframes_dict.items():
    row_count = df.shape[0]
    print("row_count in",name,row_count)
    nan_rows = df[df.isna().any(axis=1)]
    print("nan_rows in",name,len(nan_rows))

row_count in california_schools 115
nan_rows in california_schools 0
row_count in financial 120
nan_rows in financial 0
row_count in superhero 99
nan_rows in superhero 0
row_count in law_episode_merged 120
nan_rows in law_episode_merged 0
row_count in books_merged 120
nan_rows in books_merged 0
row_count in computer_student_merged 120
nan_rows in computer_student_merged 0
row_count in mental_health_survey_merged 120
nan_rows in mental_health_survey_merged 0
row_count in airline_merged 0
nan_rows in airline_merged 0
row_count in authors_merged 120
nan_rows in authors_merged 0
row_count in human_resources_merged 22
nan_rows in human_resources_merged 0

In [13]:
del dataframes_dict['airline_merged']

In [14]:
# Define the base directory
base_dir = "sources/BIRD/"

# Sort the dictionary by DataFrame length in ascending order
names = ['california_schools','financial','superhero','law_episode','books','computer_student','mental_health_survey','authors','human_resources']

# Loop through each DataFrame in sorted order
for name in names:
    # Construct the checkpoint file path dynamically
    checkpoint_path = f"{base_dir}/{name}/data_sentence.csv"

    print(f"Processing: {checkpoint_path}")

    # Read the CSV file into a DataFrame
    df = pd.read_csv(checkpoint_path)
    try:
        df = df.head(120)
    except:
        pass

    # Process the DataFrame with checkpointing
    df = process_with_checkpoint(model, df, checkpoint_file=checkpoint_path, batch_size=20)

    # Save the final result back to the same CSV file
    df.to_csv(checkpoint_path, index=False)

    print(f"Saved: {checkpoint_path}")

Processing: sources/BIRD//california_schools/data_sentence.csv
Loaded existing checkpoint.
Checkpoint saved at row 20.
Checkpoint saved at row 40.
Checkpoint saved at row 60.
Checkpoint saved at row 80.
Checkpoint saved at row 100.
Checkpoint saved at row 120.
Saved: sources/BIRD//california_schools/data_sentence.csv
Processing: sources/BIRD//financial/data_sentence.csv
Loaded existing checkpoint.
Checkpoint saved at row 20.
Checkpoint saved at row 40.
Checkpoint saved at row 60.
Checkpoint saved at row 80.
Checkpoint saved at row 100.
Checkpoint saved at row 120.
Saved: sources/BIRD//financial/data_sentence.csv
Processing: sources/BIRD//superhero/data_sentence.csv
Loaded existing checkpoint.
Checkpoint saved at row 20.
Checkpoint saved at row 40.
Checkpoint saved at row 60.
Checkpoint saved at row 80.
Checkpoint saved at row 100.
Checkpoint saved at row 120.
Saved: sources/BIRD//superhero/data_sentence.csv
Processing: sources/BIRD//law_episode/data_sentence.csv
Loaded existing checkpoint.
Checkpoint saved at row 20.
Checkpoint saved at row 40.
Checkpoint saved at row 60.
Checkpoint saved at row 80.
Checkpoint saved at row 100.
Checkpoint saved at row 120.
Saved: sources/BIRD//law_episode/data_sentence.csv
Processing: sources/BIRD//books/data_sentence.csv
Loaded existing checkpoint.
Checkpoint saved at row 20.
Checkpoint saved at row 40.
Checkpoint saved at row 60.
Checkpoint saved at row 80.
Checkpoint saved at row 100.
Checkpoint saved at row 120.
Saved: sources/BIRD//books/data_sentence.csv
Processing: sources/BIRD//computer_student/data_sentence.csv
Loaded existing checkpoint.
Checkpoint saved at row 20.
Checkpoint saved at row 40.
Checkpoint saved at row 60.
Checkpoint saved at row 80.
Checkpoint saved at row 100.
Checkpoint saved at row 120.
Saved: sources/BIRD//computer_student/data_sentence.csv
Processing: sources/BIRD//mental_health_survey/data_sentence.csv
Loaded existing checkpoint.
Checkpoint saved at row 20.
Checkpoint saved at row 40.
Checkpoint saved at row 60.
Checkpoint saved at row 80.
Checkpoint saved at row 100.
Checkpoint saved at row 120.
Saved: sources/BIRD//mental_health_survey/data_sentence.csv
Processing: sources/BIRD//authors/data_sentence.csv
Loaded existing checkpoint.
Checkpoint saved at row 20.
Checkpoint saved at row 40.
Checkpoint saved at row 60.
Checkpoint saved at row 80.
Checkpoint saved at row 100.
Checkpoint saved at row 120.
Saved: sources/BIRD//authors/data_sentence.csv
Processing: sources/BIRD//human_resources/data_sentence.csv
Loaded existing checkpoint.
Checkpoint saved at row 20.
Checkpoint saved at row 40.
Saved: sources/BIRD//human_resources/data_sentence.csv

In [15]:
import pandas as pd
base_dir = "sources/BIRD/"

names = ['california_schools','financial','superhero','law_episode','books','computer_student','mental_health_survey','authors','human_resources']

# Loop through each DataFrame in sorted order
for name in names:
    # Construct the checkpoint file path dynamically
    checkpoint_path = f"{base_dir}/{name}/data_sentence"
    primary_id = "index"

    print(f"Processing: {checkpoint_path}")

    # Read the CSV file into a DataFrame
    df = pd.read_csv(checkpoint_path + ".csv")
    
    dataframe_to_json(df,checkpoint_path,primary_id)
    combine_jsons(checkpoint_path)
    # clean_combined_jsons(checkpoint_path)

Processing: sources/BIRD//california_schools/data_sentence
JSON file saved successfully!
Combined JSON file saved successfully!
Processing: sources/BIRD//financial/data_sentence
JSON file saved successfully!
Combined JSON file saved successfully!
Processing: sources/BIRD//superhero/data_sentence
JSON file saved successfully!
Combined JSON file saved successfully!
Processing: sources/BIRD//law_episode/data_sentence
JSON file saved successfully!
Combined JSON file saved successfully!
Processing: sources/BIRD//books/data_sentence
JSON file saved successfully!
Combined JSON file saved successfully!
Processing: sources/BIRD//computer_student/data_sentence
JSON file saved successfully!
Combined JSON file saved successfully!
Processing: sources/BIRD//mental_health_survey/data_sentence
JSON file saved successfully!
Combined JSON file saved successfully!
Processing: sources/BIRD//authors/data_sentence
JSON file saved successfully!
Combined JSON file saved successfully!
Processing: sources/BIRD//human_resources/data_sentence
JSON file saved successfully!
Combined JSON file saved successfully!

In [16]:
import os
import json
import random

def find_json_files(root_folder, target_filename):
    """Recursively find all files named target_filename in root_folder."""
    json_files = []
    
    for root, _, files in os.walk(root_folder):
        for file in files:
            if file == target_filename:
                file_path = os.path.join(root, file)
                json_files.append(file_path)

    return json_files

def clean_data(data):
    """Remove entries with empty 'text', 'entities', and 'key_value', and clean empty keys in 'key_value'."""
    cleaned = []
    for entry in data:
        if (
            entry.get("entities") == [] and
            entry.get("key_value") == {}
        ):
            continue  # Skip unwanted entry

        if "key_value" in entry:
            # Remove empty key_value entries
            entry["key_value"] = {k: v for k, v in entry["key_value"].items() if v}

        cleaned.append(entry)
    return cleaned

def merge_and_shuffle_json_files(json_files, root_folder):
    """Merge and shuffle all lists of dictionaries from found JSON files after cleaning."""
    combined_data = []
    
    for file in json_files:
        relative_path = os.path.relpath(file, root_folder)
        with open(file, 'r', encoding='utf-8') as f:
            try:
                data = json.load(f)
                if isinstance(data, list):
                    data = clean_data(data)
                    print(f"File: {relative_path} contains {len(data)} valid entries.")
                    combined_data.extend(data)
                else:
                    print(f"Warning: {relative_path} does not contain a list.")
            except json.JSONDecodeError:
                print(f"Error: Could not decode {relative_path}")

    random.shuffle(combined_data)
    return combined_data

# Settings
root_folder = "sources/BIRD"
target_filename = "data_sentence_combined.json"

# Run
json_files = find_json_files(root_folder, target_filename)

if not json_files:
    print("No matching JSON files found.")

print(f"Found {len(json_files)} files. Cleaning and merging...")

combined_data = merge_and_shuffle_json_files(json_files, root_folder)

output_file = "bird_dataset.json"
with open(output_file, 'w', encoding='utf-8') as f:
    json.dump(combined_data, f, indent=4, ensure_ascii=False)

print(f"Successfully merged {len(combined_data)} entries into {output_file}")

Found 9 files. Cleaning and merging...
File: law_episode/data_sentence_combined.json contains 24 valid entries.
File: books/data_sentence_combined.json contains 24 valid entries.
File: computer_student/data_sentence_combined.json contains 24 valid entries.
File: mental_health_survey/data_sentence_combined.json contains 24 valid entries.
File: authors/data_sentence_combined.json contains 24 valid entries.
File: financial/data_sentence_combined.json contains 24 valid entries.
File: human_resources/data_sentence_combined.json contains 5 valid entries.
File: california_schools/data_sentence_combined.json contains 24 valid entries.
File: superhero/data_sentence_combined.json contains 24 valid entries.
Successfully merged 197 entries into bird_dataset.json

In [17]:
import os
import json

def remove_empty_key_value_entries(root_dir):
    """Remove entries with empty 'key_value' dict from all JSON files in subdirectories."""
    for root, _, files in os.walk(root_dir):
        for file in files:
            if file.endswith(".json"):
                file_path = os.path.join(root, file)
                try:
                    with open(file_path, 'r', encoding='utf-8') as f:
                        data = json.load(f)

                    if isinstance(data, list):
                        cleaned_data = [
                            entry for entry in data
                            if not (isinstance(entry, dict) and entry.get("key_value") == {})
                        ]

                        if len(cleaned_data) != len(data):
                            print(f"Cleaned {len(data) - len(cleaned_data)} entries from: {file_path}")

                        # Save back the cleaned data
                        with open(file_path, 'w', encoding='utf-8') as f:
                            json.dump(cleaned_data, f, indent=4, ensure_ascii=False)
                except Exception as e:
                    print(f"Error processing {file_path}: {e}")

# Change to your root directory
root_directory = "sources/BIRD"
remove_empty_key_value_entries(root_directory)

In [19]:
import json
from collections import Counter
from collections import defaultdict
from itertools import cycle

# Define the path to your JSON file
file_path = '/home/mushtari/nl2db/nl2db-main/data-generation/bird_dataset.json'

# Open and load the JSON file
with open(file_path, 'r', encoding='utf-8') as f:
    data = json.load(f)

from collections import defaultdict

# Group entries by domain
domain_entries = defaultdict(list)
for entry in data:
    domain = entry.get("domain")
    domain_entries[domain].append(entry)

# Filter domains: keep only those with at least 24 entries, and take the first 24
filtered_data = []
for domain, entries in domain_entries.items():
    if len(entries) < 24:
        print(f"Removed domain '{domain}' with only {len(entries)} entries.")
        continue
    filtered_data.extend(entries[:24])

data = filtered_data


domain_buckets = defaultdict(list)
for entry in data:
    domain = entry.get("domain")
    domain_buckets[domain].append(entry)

# Define the domains to interleave (and their order)
target_domains = ['california_schools','financial','superhero','law_episode','books','computer_student','mental_health_survey','authors','human_resources']

# Create a round-robin interleaving of entries
interleaved = []
domain_iters = {d: iter(domain_buckets[d]) for d in target_domains}

# Continue pulling one entry at a time from each domain in order
while any(domain_buckets[d] for d in target_domains):
    for d in target_domains:
        if domain_buckets[d]:  # Only append if there are entries left
            interleaved.append(domain_buckets[d].pop(0))

data = interleaved

# Count how many entries per domain
domain_counts = Counter(entry.get("domain") for entry in data)

# Print the counts
for domain, count in domain_counts.items():
    print(f"{domain}: {count}")

Removed domain 'human_resources' with only 5 entries.
california_schools: 24
financial: 24
superhero: 24
law_episode: 24
books: 24
computer_student: 24
mental_health_survey: 24
authors: 24

In [20]:
for entry in data:
    gtv = entry.get("ground_truth_key_value", {})
    for key in gtv:
        for i, pair in enumerate(gtv[key]):
            pair[0] = str(i + 1)  # Replace first value with "1", "2", ..., "5"

In [21]:
with open(file_path, 'w', encoding='utf-8') as f:
    json.dump(data, f, indent=2)

In [23]:
import json

# Load the JSON files
with open('/home/mushtari/nl2db/nl2db-main/data-generation/merged_dataset.json', 'r') as f1, open('/home/mushtari/nl2db/nl2db-main/data-generation/merged_dataset2.json', 'r') as f2:
    data1 = json.load(f1)
    data2 = json.load(f2)

# Filter healthcare entries from file1
healthcare_entries_file1 = [entry for entry in data1 if entry.get('domain') == 'healthcare']

# Replace healthcare entries in file2 at their original positions
replaced_data2 = []
healthcare_idx = 0

for entry in data2:
    if entry.get('domain') == 'healthcare':
        if healthcare_idx < len(healthcare_entries_file1):
            replaced_data2.append(healthcare_entries_file1[healthcare_idx])
            healthcare_idx += 1
        else:
            # Optionally skip or keep original if not enough entries in file1
            replaced_data2.append(entry)
    else:
        replaced_data2.append(entry)

# Save the modified data2
with open('/home/mushtari/nl2db/nl2db-main/data-generation/merged_dataset3.json', 'w') as f:
    json.dump(replaced_data2, f, indent=2)